@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background-color: #171b23;
}

::-webkit-scrollbar-thumb {
    background-color: #a4b0be;
    border: 3px solid #171b23;
    border-radius: 50px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #2c2c54; */
    background-image: linear-gradient(315deg, #2c2c54 0%, #171b23 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #ff7426;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}


#form {
    position: relative;

}

#form .githublogo {
    height: 75px;
    width: 75px;
    object-fit: cover;
    position: absolute;
    bottom: -33px;
    right: -25px;
}

#form .gearforgithub {
    height: 155px;
    width: 155px;
    object-fit: cover;
    position: absolute;
    bottom: -230px;
    right: 40px;
    animation: rotateGear 30s linear infinite;
}

@keyframes rotateGear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


input {
    background-color: #57606f;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-top: 20px;
}

input::placeholder {
    color: #aaa;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px white;
}

.card {
    background-color: #394a70;
    background-image: linear-gradient(315deg, #394a70 0%, #a4b0be 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    max-width: 90%;
    margin: 20px auto;
    border: 10px solid #57606f;


}

.avatar {
    display: flex;
    align-items: center;
    border: 3px solid #eee;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px black;
}

.user-info {
    color: #eee;
    margin-top: 1.5rem;
    text-align: center;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;

}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #57606f;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    input {
        margin-top: 30px;
        width: 100%;
    }

    .user-info {
        margin-top: 1rem;
    }

    .user-info ul {
        max-width: 100%;
    }

    .user-info ul li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 477px) {
    input {
        margin-top: 30px;
        width: 100%;
    }

    .user-info {
        margin-top: 1rem;
    }

    .user-info ul {
        max-width: 100%;
    }

    .user-info ul li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}